# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Uploaded Files
Backend/uploads/*
!Backend/uploads/.gitkeep

# Logs
*.log


# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Build
build/
dist/