fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
python-docx
pdfplumber
pymupdf
plotly
python-dotenv
google-genai
requests
email-validator
passlib[bcrypt]==1.7.4
python-jose[cryptography]
bcrypt==4.0.1
aiosmtplib